*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: white;
}

body {
    width: 100%;
    height: auto;
    background-color: rgb(50, 0, 114);
}

main {
    width: 100%;
    /* padding: 0 20em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 0, 114);
}

#profil {
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin: 25px 50px;
    padding: 15px 30px 15px 0;
    border: 5px solid white;
    background-color: rgb(50, 0, 114);
    width: 90%;
    box-shadow: 25px 25px 25px 10px rgba( #000, #000, #000, 1);
}

#profil .profil-information {
    display: flex;
    flex-direction: column;
}

.name{
    position: relative;
    border: 5px solid white;
    background-color: rgb(50, 0, 114);
    box-shadow: 0 25px 25px 0 rgba( #000, #000, #000, 1);
    text-transform: uppercase;
    margin: 0 0 0 -5px;
    padding: 15px 30px;
    top: -7em;
}

.name h1{
    font-size: 50px;
}

.name h2{
    font-size: 25px;
}

.description {
    margin-top: -5em;
    padding: 15px 30px;
}

.description p {
    font-size: 20px;
}

#profil img {
    position: relative;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: -12em;
    width: 400px;
    height: 200px;
}

/* SKILLS & EXPERIENCE */
#skills-experience {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 5em;
    margin: 25px 50px;
    /* padding: 15px 30px 15px 0; */
    background-color: rgb(50, 0, 114);
    width: 90%;
}

.skills,
.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 5px solid white;
    padding: 15px 30px;
    width: 50%;
    height: 350px;
}

.skills h1,
.experience h1 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 25px;
}

.skills-contain,
.experience-contain {
    display: flex;
    flex-direction: column;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 25px;
}

.skill-item p {
    font-size: 20px;
    margin-bottom: 10px;
}

.skills-level,
.skills-level-two,
.skills-level-tree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: start;
    width: 100%;
}

.skills-level div,
.skills-level-two div,
.skills-level-tree div {
    width: 100%;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    border: none;
    padding: 15px;
}

.skills-level div:nth-child(-n+6),
.skills-level-two div:nth-child(-n+4),
.skills-level-tree div:nth-child(-n+8) {
    background-color: rgb(255, 0, 0);
}

.skills-level div:nth-child(7) {
    position: relative;
    background-color: black; /* couleur de base */
}

.skills-level div:nth-child(7)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    border-radius: 100% 0 0 100% / 50% 50% 50% 50%;
}

.skills-level-two div:nth-child(5) {
    position: relative;
    background-color: black; /* couleur de base */
}

.skills-level-two div:nth-child(5)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    border-radius: 100% 50% 50% 100% / 50% 50% 50% 50%;
}

.company-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2em;
}

.company-item .company-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 25px;
    gap: 5px;
}

.company-item .company-detail p {
    line-height: 22px;
}

/* 
    CERTIFICATION - EDUCATION
*/
#certification-education {
    position: absolute;
    top: 115%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 5em;
    margin: 25px 50px;
    /* padding: 15px 30px 15px 0; */
    background-color: rgb(50, 0, 114);
    width: 90%;
}

.certification,
.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 5px solid white;
    padding: 15px 30px;
    width: 50%;
    height: 350px;
}

.certification h1,
.education h1 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 25px;
}

.certification-contain,
.education-contain {
    display: flex;
    flex-direction: column;
}

.certification-detail ul {
    padding: 0;
    margin: 0;
}

.certification-detail ul li {
    font-size: 20px;
    margin-bottom: 10px;
}

.education-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2em;
}

.education-item .education-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 25px;
    gap: 5px;
}

.education-item .education-detail p {
    line-height: 22px;
}

/* 
    FOOTER
*/
#footer {
    position: absolute;
    top: 180%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 5em;
    margin: 25px 50px;
    border: 5px solid white;
    /* padding: 15px 30px 15px 0; */
    padding: 15px 30px;
    background-color: rgb(50, 0, 114);
    width: 90%;
}

.number,
.email,
.web-site {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.number img,
.email img,
.web-site img {
    width: 25px;
    height: 25px;
}